body{
    margin: 0px;
}
.container{
    text-align:center;
    line-height: 100vh;
}

.component{
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: lightblue;
    line-height: 25vh;
}